@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
body { font-family: "Noto Sans DemiLight", "Malgun Gothic",Tahoma; font-size:16px;}
section { padding-bottom: 170px; min-height: 100%}
#logo_image img{ height: 40px; width: auto; cursor:pointer;}
#logo_image { position: fixed; left: 30px; top: 0px;}
#category_header { color:#fff; background: url('./images/bgcAbout.gif'); margin: 40px 0px 15px 0px;}
.article-category-wrap-box { font-size: 18px; width: 100%; margin-top:25px; font-family: Raleway, 'malgun gothic';} 
#article_category a, #article_admin a{ color:#fff; text-decoration: none}
#article_title { text-align:center; font-size: 35px; width: 100%; margin-top:15px; margin-bottom:15px; font-family: 'Nanum Myeongjo', 'Nanum Gothic'; }
#article_date { text-align:right; font-size: 16px; font-family: Raleway, 'malgun gothic'; width: 100%; margin-bottom:30px; opacity:0.7;} 
#article_admin { top: -35px; position: absolute; color:#E5F1E8; font-size:12px;}
#article_category { display:inline-block; border-bottom: 2px solid #fff; opacity: 0.75 }
#tistorytoolbarid, .dummy{display: none;}
.article { line-height: 190%; }
.tag_label { width: 100%; text-align: right; margin-bottom:20px}

/* bootstrap overriding */
#category_view > li a {
  display: block;
  padding: 7px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
#category_view > li ul li a {
  padding: 3px 35px;
}
#category_view > li ul li a:hover, #category_view > li ul li a:focus{
  text-decoration: none;
  background-color: #f5f5f5 !important;  
}
#category_view li{
  list-style-type: none;
}
#category_view ul{
	padding: 0;
}
#category_view > .active a,
#category_view > .active a:hover,
#category_view > .active a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
#category_view > .disabled a,
#category_view > .disabled a:hover,
#category_view > .disabled a:focus {
  color: #777;
}
#category_view > .disabled a:hover,
#category_view > .disabled a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#bs-navbar-collapse{
  max-height: 420px;
}
#top_navbar{
  margin-bottom: 0px;
  border: 0px;
  background-color: #FFFFFF;
  min-height: 40px;
  -webkit-box-shadow: 0 -8px 16px 5px #333333;
  box-shadow: 0 -8px 16px 5px #333333;
  z-index: 20;
}
@media (max-width: 767px) {
  #top_navbar.open .dropdown-menu > li a{
    padding: 5px 15px 5px 25px;
  }
  #top_navbar .open .dropdown-menu > li ul li a{
    padding: 5px 15px 5px 35px;
  }
  #top_navbar .open .dropdown-menu > li a {
    line-height: 20px;
  }
  #top_navbar .open .dropdown-menu > li a:hover,
  #top_navbar .open .dropdown-menu > li a:focus {
    background-image: none;
  }
}
#ttoolbar_view{
  font-size:14px;  
}
#ttoolbar_view > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
#category_view { background-color:#FFFFFF;}
#top_navbar_button{
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0px;
  border-radius: 0px;
}
#content-section { padding-left: 10px; padding-right:10px; }
@media (min-width: 992px) {
	#content-section { padding-left: 0px; padding-right:0px; }
}
.btn-search { border: 1px solid white; color:#777}
.btn-search:hover, .btn-search:focus{ border-color: #ffffff; background-color: #ffffff; color:#333}
#nav-search-form { margin:3px 0 3px 0;}
.nav-form-input {float:left; width:70%}

/* Article */
#rp_list, #guestList, #search_list { padding: 0; list-style: none; }
#rp_list ul {padding-left:50px; list-style: none;}
#rp_list hr, #guestList hr{ margin-top: 10px; margin-bottom: 10px; }
#rp_list p, #guestList p{ margin: 15px 0 15px 0; }
#rp_list  a, #guestList  a, .actionTrail a{ color:#333 }
#rp_list .name, #guestList .name{ font-size: 14px }
#rp_list .name img, #guestList .name img{ width: 20px !important; height:auto;}
#rp_list .date, #guestList .date{ font-size: 12px }
#rp_list .control, #guestList .control{ font-size: 14px; position: absolute; right: 5%;}
#rp_list .control a, #guestList .control a{ margin-left: 20px; }
.author-info-wrap{ float: left; height: 25px; width: 100%; padding-right: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#main_article { margin-bottom: 20px; }
.actionTrail {margin: 5px 0 5px 0; }
.input-group { margin-bottom: 10px; }
#rp-textarea, #rp-textarea-submit { width:98%; margin:1%; border-radius: 4px; }
#search_list li{ margin-top: 7px; }

/* Tags */
.cloud1, .cloud2, .cloud3, .cloud4, .cloud5 { margin: 7px }
.cloud1 { font-size: 20px; color:#ED5150; font-weight: bold;}
.cloud2 { font-size: 20px; color:#ED5150;}
.cloud3 { font-size: 18px; color:#ED5150;}
.cloud4 { font-size: 16px; color:#ED5150;}
.cloud5 { font-size: 16px; color:#333;}

/* Guestbook */
.guestWrite { margin: 15px 0 15px 0; }

/* Sidebar*/
#sidebar{
  font-size: 14px;
}

/* Introduce */
#introduce {font-size:12px; text-align: center; line-height:20px;}
#introduce img{ width:100%; max-width:350px; height:auto;}
#introduce div { margin-top: 20px; }
#introduce-static { border-top: 1px solid #33a654; padding-top: 10px; }

/* Category */
#category-list a:first{ font-weight:bold }
#category-list a{ padding: 4px 20px; color: #777; display:block}
#category-list ul{
	padding:0;
	list-style-type: none;
	margin:0;
}
#category-list ul>li>ul>li>ul a{ padding: 4px 40px; }
#category-list ul>li>ul>li>ul a:hover, #category-list ul>li>ul>li>ul a:focus{ padding: 4px 39px; }
#category-list a:hover, #category-list a:focus{ color: #333; text-decoration: none; padding-left: 19px; border-left: 1px solid #563d7c;}

/* Common */
.fontRed { color: #ED5150; }
.ft-size-15 { font-size:15px }
.ft-size-14 { font-size:14px !important}
.sidePanel { margin:0; border:0; box-shadow:0 0 0; -webkit-box-shadow:0 0 0; }
#content-section p { margin-bottom : 15px ; word-break:break-all; }
h2{ font-size:22px; border-left:5px solid #33a654; padding-left:10px;}
h3{ font-size:20px; border-left:5px solid #BDE2C9; padding-left:10px;}

h1, h2, h3, h4, h5, h6{ line-height:1.8; margin-top: 30px;}
#article_title h1 { font-size:30px; }
@media (max-width: 450px) {
	#article_title h1 { font-size:24px; }
}
blockquote {
  font-family: Georgia, malgun gothic;
  font-size: 18px;
  font-style: italic;
  margin: 10px 0 10px 25px;
  padding: 10px 0 10px 20px;
  line-height: 1.5;
  position: relative;
  color: #383838;
  border: 0;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
/* T edition*/
#tedition-tabloid-height{ height:350px !important}
#ttCanvas, .tt-span-12 { width: 100% !important }
.tedition-tabloid-div {overflow:hidden}

#tedition-tabloid-list{ width: 100%; }
.tedition-list-img{ width: 35% !important; }
.tedition-list-desc{ width: 60% !important; }

@media (min-width: 768px) {
	#tedition-tabloid-list{ width: 70%; margin: auto !important; }
}

@media (max-width: 500px) {
	.tedition-list-img{ width: 100% !important; margin-right:0 !important; margin-bottom: 10px !important;}
	.tedition-list-desc{ width: 100% !important; margin-bottom: 15px !important;}
}
/* Over-riding */
#TixIntroMap { width: 100% !important; }
#content-section img {max-width:100% !important; height:auto; }
#content-section .imageblock {max-width: 100% !important; height: auto;}
#content-section iframe {max-width:100% !important;}

/* Footer */
#footer { width: 100%; clear: both; text-align: center;}
#footer  a{ margin-left: 4px; margin-right: 4px; }

.bs-docs-footer{
  width: 100%;
  font-size:12px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -137px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #ADADAD;
}