.prettyprint {
  background: white !important;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}

.pln {
  color: #333333 !important;
}

@media screen {
  .str {
    color: #dd1144 !important;
  }

  .kwd {
    color: #333333 !important;
  }

  .com {
    color: #999988 !important;
  }

  .typ {
    color: #445588 !important;
  }

  .lit {
    color: #445588 !important;
  }

  .pun {
    color: #333333 !important;
  }

  .opn {
    color: #333333 !important;
  }

  .clo {
    color: #333333 !important;
  }

  .tag {
    color: navy !important;
  }

  .atn {
    color: teal !important;
  }

  .atv {
    color: #dd1144 !important;
  }

  .dec {
    color: #333333 !important;
  }

  .var {
    color: teal !important;
  }

  .fun {
    color: #990000 !important;
  }
}
@media print, projection {
  .str {
    color: #006600 !important;
  }

  .kwd {
    color: #006 !important;
    font-weight: bold !important;
  }

  .com {
    color: #600 !important;
    font-style: italic !important;
  }

  .typ {
    color: #404 !important;
    font-weight: bold !important;
  }

  .lit {
    color: #004444 !important;
  }

  .pun, .opn, .clo {
    color: #444400 !important;
  }

  .tag {
    color: #006 !important;
    font-weight: bold !important;
  }

  .atn {
    color: #440044 !important;
  }

  .atv {
    color: #006600 !important;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  list-style-type:decimal !important;
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background:#eee !important;
}

.highlight { margin-bottom: 16px !important; }

.highlight pre{
  padding: 16px !important;
  overflow: auto !important;
  background-color: #f7f7f7 !important;
  margin-bottom: 0 !important;
  word-break: normal !important;
  word-wrap: normal !important;
  border: 0 !important;
}